{% extends "AppCoder/padre.html" %}

{% load static %}

{% block Pagtitulo %}Creación de Publicaciones{% endblock %}

{% block titulo %}{% endblock %}

{% block contenido_que_cambia %}
<script type="text/javascript" src="{% static "AppCoder/ckeditor/ckeditor5-build-classic/ckeditor.js" %}"></script>

<h5 class='text-muted' id='resaltado'>{{ mensaje }}</h5>

<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h3>Creación de un Artículo</h3>
               </div>
            </div>
         </div>        
       <div class="row">
        
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 offset-md-3">
             <div class="contact">
                
                <form action="{% url 'ArtCre' %}" method="post" enctype="multipart/form-data" clas="formuMW">
                   <div class="row">
                      <div class="col-sm-12">
                        {% csrf_token %}
                        {{ form.as_div }}
                        {{ form.media }}
                      </div>
                      <div class="col-sm-12">
                        <br/>
                        <center>
                            <input type="submit" value="Crear el Artículo">      
                            <input type="button" value="Cancelar" onclick="document.location='{% url 'Art' %}';"> 
                            <!--<input type="button" value="mostrar" onclick="mostrarLargos()"> //-->
                        </center>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>

 <script>

   ClassicEditor
   .create( document.querySelector( '#id_cuerpo' ), {
      toolbar: [
         'undo', 'redo',
         '|', 'heading',
         '|', 'bold', 'italic',
         '|', 'link',
         '|', 'bulletedList', 'numberedList', 'outdent', 'indent'
      ]
      } )
      .then( editor => {
         window.editor = editor;
      } )
		.catch( err => {
			console.error( err.stack );
		} );

      /*
      function mostrarLargos()      
      {
         alert("Título: " + document.getElementById("id_titulo").value.length + ' // ' + document.getElementById("id_titulo").value);
         alert("SubTítulo: " + document.getElementById("id_subtitulo").value.length + ' // ' + document.getElementById("id_subtitulo").value);
         alert("Cuerpo: " + document.getElementById("id_cuerpo").innerHTML.length + ' // ' + document.getElementById("id_cuerpo").innerHTML);
         alert("Imagen: " + document.getElementById("id_imagen").value.length + ' // ' + document.getElementById("id_imagen").value);
         alert("Categoría: " + document.getElementById("id_categoria").value.length + ' // ' + document.getElementById("id_categoria").value);
         alert("Link: " + document.getElementById("id_link").value.length + ' // ' + document.getElementById("id_link").value);
      }
      */
</script>

{% endblock %}