{% extends "AppCoder/padre.html" %}

{% load static %}

{% block Pagtitulo %}Edición de Categorías{% endblock %}

{% block titulo %}<h1>La Redonda - Edición de Categorías!</h1>{% endblock %}

{% block contenido_que_cambia %}

<h5 class='text-muted' id='resaltado'>{{ mensaje }}</h5>

<form action="{% url 'CatEdi' categoria.id %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table>
        <tr>
            <td>
                {{ form.as_table }}
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>        
        <tr>
            <td colspan = "2">
                <input type="submit" value="Guardar Cambios">
                <input type="button" value="Cancelar" onclick="document.location='{% url 'Cat' %}';">   
                <a class="btn btn-danger" href="{% url  'CatEli' categoria.id  %}">Eliminarla</a>      
            </td>
        </tr>
    </table>
    </form>


{% endblock %}