{% load static %}

{% if categorias %}
<div id="service" class="service">
    <div class="container margin-r-l">
       <div class="row">
         {% for cat in categorias%}
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
            <div class="service-box">
               <figure>
                  <a  href="{% url 'ArtCat' cat.id %}" class="fancybox" rel="ligthbox">
                  <img src="/AppCoder{{ cat.imagen.url }}" class="zoom img-fluid "  alt="">
                  </a>
                  <span class="hoverle">
                  <a  href="{% url 'ArtCat' cat.id %}" class="fancybox" rel="ligthbox">{{ cat.nombre }}</a>
                  </span>  
               </figure>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
 </div>
 {% endif %}