{% extends "AppCoder/padre.html" %}

{% load static %}

{% block Pagtitulo %}Usuarios{% endblock %}

{% block titulo %}<h1>Bienvenidos a la página de Usuarios!</h1>{% endblock %}

{% block contenido_que_cambia %}

<center>

<h5 class='text-muted' id='resaltado'>{{ mensaje }}</h5>

<div id="formuMW" class="formuMW">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="titlepage">
                 <h3>Usuarios</h3>
              </div>
           </div>
        </div>        
        <div id="formuFiltro">
            <form action="{% url 'UsuBus' %}" method="GET"> 
                <input type="text" name="usuario" id="usuario" placeholder="Filtrar Usuarios" />
                <input type="submit" value="Filtrar" />
                {% if filtro %}&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'Usu' %}">Remover Filtro "{{ filtro }}"</a>{% endif %}
            </form>
        </div>
    </div>
</div>
<br />

{% if usuarios %}
<center>
    <table style="min-width:50%">
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td><a href="/AppCoder/{{ usuario.avatar.imagen.url }}" target="_blank"><img src="/AppCoder/{{ usuario.avatar.imagen.url }}" height="40" width="40" /></a></td>
                <td><a href="{% url 'MenAUsu' usuario.id %}">{{ usuario.username }}</a></td>
                <td class="opciones">
                    <nobr>
                        <a class="btn btn-success" href="{% url 'Per' usuario.id %}">Perfil</a>
                        {% if not usuario == request.user %}<a class="btn btn-success" href="{% url 'MenAUsu' usuario.id %}">Mensajes</a>{% endif %}
                    </nobr>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <a id="nav-volver" href="javascript:document.location='{% url 'Men' %}';">Volver</a>    
</center>
{% endif %}
{% endblock %}