{% extends "Mensajes/padre.html" %}

{% load static %}

{% block Pagtitulo %}Centro de Mensajes{% endblock %}

{% block titulo %}<h1>Centro de Mensajes!</h1>{% endblock %}

{% block contenido_que_cambia %}

<h5 class='text-muted' id='resaltado'>{{ mensaje }}</h5>

<div id="formuMW" class="formuMW">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="titlepage">
                 <h3>Mensajes</h3>
              </div>
           </div>
        </div>        
        <div id="formuFiltro">
            <form action="{% url 'Men' %}" method="GET"> 
                <input type="text" name="usuario" id="usuario" placeholder="Usuarios a Filtrar" />
                <input type="submit" value="Filtrar" />
                {% if filtro %}&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'Men' %}">Remover Filtro "{{ filtro }}"</a>{% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="{% url 'MenBusUsu' %}">Enviar Mensaje +</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </form>
        </div>
    </div>
</div>
<br />
{% if mensajes or usuariosAMostrar or conversacionesAMostrar %}
<center>
    <table>
        <tr>
            <td class="arriba">
                {% if cantMensajesNuevos == 0 and not filtro %}
                <h5 class='text-muted' id='resaltado'>No tenés mensajes nuevos. Estás al día. =0)</h5><br />
                {% else %}
                    {% if not filtro or cantMensajesNuevos > 0 %}
                            <h5 class='text-muted' id='resaltado'>
                                    Tenés {{ cantMensajesNuevos }} {% if cantMensajesNuevos == 1 %}mensaje nuevo{% else %}mensajes nuevos{% endif %} 
                                    en {{ cantConversacionesAMostrar }} {% if cantConversacionesAMostrar == 1 %}conversación{% else %}conversaciones{% endif %}.
                            </h5>
                            <br />
                    {% endif  %}
                {% endif  %}
                {% if conversacionesAMostrar %}
                    <div>
                    {% for conv in conversacionesAMostrar %}
                        <a href="{% url 'MenAUsu' conv.usuarioEmisorID %}" class="usuarioMensajes">{{ conv.username }}</a><a href="{% url 'MenAUsu' conv.usuarioEmisorID %}"/> ({{ conv.cantidadSinLeer }} {% if conv.cantidadSinLeer == 1 %}mensaje nuevo{% else %}mensajes nuevos{% endif %})</a><br/>
                    {% endfor %}
                    </div>                
                {% endif %}
            </td>

    {% if usuariosAMostrar %}
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td class="arriba">
                <div id="service" class="service">
                    <span class="green cabeceraServicios"><nobr>Conversaciones (últ. 3 meses)</nobr></span>
                    <br />
                    {% for usu  in usuariosAMostrar %}
                    -> <a href="{% url 'MenAUsu' usu.usuarioEmisorID %}"/>{{ usu.username }}</a><br />
                    {% endfor %}
                    <br />
                </div>
            </td>
    {% endif %}
        </tr>
    </table>
</center>
{% endif %}
{% endblock %}