{% extends "Mensajes/padre.html" %}

{% load static %}

{% block Pagtitulo %}Centro de Mensajes{% endblock %}

{% block titulo %}<h1>Centro de Mensajes!</h1>{% endblock %}

{% block contenido_que_cambia %}

<h5 class='text-muted' id='resaltado'>{{ mensaje }}</h5>

<div id="formuMW" class="formuMW">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="titlepage">
                 <h3>Mensajes</h3>
              </div>
           </div>
        </div>        
        <div id="formuFiltro">
            <form action="{% url 'Men' %}" method="GET"> 
                <input type="text" name="usuario" id="usuario" placeholder="Usuarios a Filtrar" />
                <input type="submit" value="Filtrar" />
                {% if filtro %}&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'Men' %}">Remover Filtro "{{ filtro }}"</a>{% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="{% url 'MenBusUsu' %}">Enviar Mensaje +</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </form>
        </div>
    </div>
</div>
<br />
{% if mensajes or usuariosAMostrar %}
<center>
    <table>
        <tr>
            <td class="arriba">
                {% if mensajesNuevos == 0 and not mensaje %}
                <h5 class='text-muted' id='resaltado'>No tenés mensajes nuevos. Estás al día. =0)</h5>
                {% else %}
                    {% if mensajesNuevos > 1 %}
                <h5 class='text-muted' id='resaltado'>Tenés {{ mensajesNuevos }} mensajes nuevos. ¿Por cuál querés empezar?</h5>
                    {% else %}
                <h5 class='text-muted' id='resaltado'>Tenés {{ mensajesNuevos }} mensaje nuevo. ¿Querés Responderlo?</h5>    
                    {% endif  %}
                {% endif  %}
                <br />
                {% if mensajes %}
                <div>
                {% for mensaje in mensajes %}
                    <a href="{% url 'Men' %}?usuario={{ mensaje.emisor.username }}" class="usuarioMensajes">{{ mensaje.emisor.username }}:</a> ({{ mensaje.cuando }})
                    <br/>{{ mensaje.texto }} <a href="{% url 'ResAUsu' mensaje.emisor.id mensaje.id %}"/><img src="{% static 'Mensajes/images/responder.png' %}" alt="responde" width="28" height="23" /></a> <a href="{% url 'MenAUsu' mensaje.emisor.id %}"/>Chat</a>
                {% endfor %}
                </div>
                {% endif %}
            </td>

{% if usuariosAMostrar %}
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td class="arriba">
                <div id="service" class="service">
                    <span class="green cabeceraServicios"><nobr>Últimos 3 meses</nobr></span>
                    <br />
                    {% for usu  in usuariosAMostrar %}
                    -> <a href="{% url 'MenAUsu' usu.id %}"/>{{ usu.username }}</a><br />
                    {% endfor %}
                    <br />
                </div>
            </td>
{% endif %}
        </tr>
    </table>
</center>
{% endif %}
{% endblock %}